<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <%= render 'shared/sidebar_categories', taxonomies: @taxonomies, active_taxon_id: @taxon.id %>
  <%= render 'shared/sidebar_search_price' %>
  <%= render 'shared/sidebar_search_color', search_colors: @search_colors, active_color_name: nil %>
  <%= render 'shared/sidebar_search_size' %>
</div>
