<% provide(:title, 'Product Grid Sidebar Left - BIGBAG Store') %>
<%= render partial: 'shared/main_nav_bar', locals: { page_title: @taxon.name,
                                                     path_second: true,
                                                     page_active: @taxon.name } %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'potepan/categories/sidebar' %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'potepan/categories/filter' %>
        <div class="row">
          <%= render partial: 'shared/product', collection: @products, locals: { class_name: 'col-sm-4 col-xs-12' } %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/partners_logo' %>

<% content_for :product_quick_view_modal do %>
  <%= render 'shared/product_quick_view_modal'%>
<% end %>
