<% if @option_value_color.nil? %>
  <% if params[:color].present? %>
    <%= render partial: 'shared/main_nav_bar', locals: { page_title: "ERROR",
                                                         path_second: true,
                                                         page_active: "ERROR" } %>
  <% else %>
    <%= render partial: 'shared/main_nav_bar', locals: { page_title: "ALL",
                                                         path_second: true,
                                                         page_active: "ALL" } %>
  <% end %>
<% else %>
  <%= render partial: 'shared/main_nav_bar', locals: { page_title: @option_value_color.name,
                                                       path_second: true,
                                                       page_active: @option_value_color.name } %>
<% end %>