<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% if @product.images.any? %>
      <% @product.images.each_with_index do |img, i| %>
        <div class="item <% if product_main_image_active?(i, @variant_number) %>active<% end %>" data-thumb="<%= i %>">
          <%= image_tag img.attachment.url(:product) %>
        </div>
      <% end %>
    <% else %>
      <div class="item" data-thumb="0">
        <%= image_tag("img/products/signle-product/product-slide-big-01.jpg") %>
      </div>
    <% end %>
    <% unless @variant_number.nil? %>
      <% @variants.images.each_with_index do |img, i| %>
        <div class="item <% if i.zero? %>active<% end %>" data-thumb="<%= product_thumb_image_number(i, @product.images.size) %>">
          <%= image_tag img.attachment.url(:product) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="clearfix">
  <div id="thumbcarousel" class="carousel slide" data-interval="false">
    <div class="carousel-inner">
      <% if @product.images.any? %>
        <% @product.images.each_with_index do |img, i| %>
          <div data-target="#carousel" data-slide-to="<%= i %>" class="thumb">
            <%= image_tag img.attachment.url(:product) %>
          </div>
        <% end %>
      <% else %>
        <div data-target="#carousel" data-slide-to="0" class="thumb">
          <%= image_tag("img/products/signle-product/product-slide-small-01.jpg") %>
        </div>
      <% end %>
      <% unless @variant_number.nil? %>
        <% @variants.images.each_with_index do |img, i| %>
          <div data-target="#carousel" data-slide-to="<%= product_thumb_image_number(i, @product.images.size) %>" class="thumb">
            <%= image_tag img.attachment.url(:product) %>
          </div>
        <% end %>
      <% end %>
    </div>
    <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>