<div class="row productsContent">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>関連商品</h4>
    </div>
  </div>
  <% if products.any? %>
    <%= render partial: 'shared/product', collection: products, locals: { class_name: 'col-md-3 col-sm-6 col-xs-12' } %>
  <% else %>
    <div class="col-xs-12">
      <p>関連商品はありません。</p>
    </div>
  <% end %>
</div>