<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <%= render 'shared/sidebar_categories', taxonomies: @taxonomies, active_taxon_id: nil %>
  <%= render 'shared/sidebar_search_price' %>
  <% if @option_value_color.nil? %>
    <%= render 'shared/sidebar_search_color', search_colors: @search_colors, active_color_name: nil %>
  <% else %>
    <%= render 'shared/sidebar_search_color', search_colors: @search_colors, active_color_name: @option_value_color.name %>
  <% end %>
  <%= render 'shared/sidebar_search_size' %>
</div>
