<% provide(:title, 'Product Grid Sidebar Left - BIGBAG Store') %>
<%= render 'breadcrumb_nav' %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'sidebar' %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'potepan/categories/filter' %>
        <div class="row">
          <% if flash.now[:error] %>
            <div class="alert alert-error">
              <%= flash.now[:error] %>
            </div>
          <% end %>
          <%= render partial: 'shared/product', collection: @products, locals: { class_name: 'col-sm-4 col-xs-12' } %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/partners_logo' %>

<% content_for :product_quick_view_modal do %>
  <%= render 'shared/product_quick_view_modal'%>
<% end %>
