<!-- FOOTER -->
<div class="footer clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-xs-12">
        <div class="footerLink">
          <h5>商品をお探しなら</h5>
          <ul class="list-unstyled">
            <li><a href="product-grid-left-sidebar.html">SHOES</a></li>
            <li><a href="product-grid-left-sidebar.html">BAGS </a></li>
            <li><a href="product-grid-left-sidebar.html">GLASSES </a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-2 col-xs-12">
        <div class="footerLink">
          <h5>BIGBAGについて</h5>
          <ul class="list-unstyled">
            <li><a href="about-us.html">ABOUT US</a></li>
            <li><a href="privacy-policy.html">プライバシーポリシー</a></li>
            <li><a href="tokushoho.html">特定商取引法についての表記</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- COPY RIGHT -->
<div class="copyRight clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-xs-12">
        <p>&copy; 2017 Copyright Potepan Store .</p>
      </div>
      <div class="col-sm-5 col-xs-12">
        <ul class="list-inline">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>