<div class="panel panel-default filterNormal">
  <div class="panel-heading">色から探す</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <% search_colors.each do | color | %>
        <li>
          <%= link_to potepan_products_path(color: "#{color.name}"), class: active_color_name == color.name ? 'active' : nil do %>
            <%= color.name %><span><%= "(#{color.variants.count})" %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
