<div class="slide">
  <div class="productImage clearfix">
    <% if product.images.any? %>
      <%= image_tag product.images.first.attachment.url %>
    <% else %>
      <%= image_tag("img/products/products-01.jpg", :alt => "products-img") %>
    <% end %>
    <div class="productMasking">
      <ul class="list-inline btn-group" role="group">
        <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
        <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
        <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="productCaption clearfix">
    <%= link_to potepan_product_path(product.id) do %>
      <h5><%= product.name %></h5>
    <% end %>
    <h3><%= product.display_price %></h3>
  </div>
</div>
