<% provide(:title, 'BIGBAG Store') %>

<!-- BANNER -->
<%= render 'banner' %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'featured_collection' %>
    <% if @new_arrivals_products.any? %>
      <%= render 'new_arrivals_products' %>
    <% end%>
    <%= render 'latest_articles' %>
  </div>
</section>

<%= render 'shared/partners_logo' %>

<% content_for :product_quick_view_modal do %>
  <%= render 'shared/product_quick_view_modal'%>
<% end %>
