<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/head' %>
  </head>
  <body>
    <div class="main-wrapper">
      <%= render 'shared/header' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>

    <%= render 'shared/login_modal' %>
    <%= render 'shared/sign_up_modal' %>
    <%= yield :product_quick_view_modal %>
    <%= render 'shared/script' %>
  </body>
</html>
